
/* Basisstyles zum Testen */

body {
  background: #0b0f12; /* Nachtgrau */
  color: #ffffff;      /* Weißer Text */
  font-family: sans-serif;
  margin: 0;
  padding: 40px;
}

h1 {
  color: #eac7d8;  /* Rosé */
  font-size: 2.5rem;
}
